<hr class="border-(t-2 t-neutral-800) mt-48" />

<footer class="p-4 text-(neutral-400 center)">
  <p class="text-neutral-400">
    Open source tone tag dictionary by <a
      href="https://astrid.sh/"
      target="_blank">@astrid</a
    >
  </p>
</footer>
